header{
    display: flex;
    background-image: url(./img/Rectangle104.png);
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    padding: 39px 0;
    background-repeat: no-repeat;
}
a{
    padding: 4px;
    color: white;
}
.AVATAR{
    margin-left: 250px;
}
.imails{
    display: flex;
    margin-right: 200px;
}
.lang-control{
    display: flex;
    margin-right: 100px;
}
.button{
    border: 1px solid white;
    border-radius: 10px;
    width: 40px;
    height: 22px;
    margin-top: 3px;
    }
    .baby-button{
     background-color: white;
     border: 1px solid white;
     border-radius: 20px;
     width: 20px;
     height: 20px;
    }

.gacke{
    background-image:url(./img/Group481.png) ;
    display: flex;
    background-size: cover;
    justify-content: space-evenly;
    align-items: center;
    padding: 180px 0;
    background-repeat: no-repeat;
}
.warm-with-sky-people{
    text-align: center;
}
.warm-bird{
  margin-right: 29px;
}
.trailer{
    background-image: url(./img/Rectangle101.png);
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 330px 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.our-energy{
    text-align: center;
}
.learning-navi-leng{
    background-image: url(./img/Rectangle20.png);
    background-size: cover;
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: 240px 240px;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}
.our-mather{
    text-align: center;
}
footer{
    background-image: url(./img/Rectangle104.png);
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    justify-content: center;
}
.AVATAR-2{
    height: 119px;
}
.footer-contact{
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-right: 245px;
}
.appeal{
    height: 241px;
    width: 245px;
    margin-top: -191px;
    margin-left: 87px;
}
.card{
    background-color: white;
    border: solid black 3px;
}
.text{
    width: 161px;
}
.welkome-to-us{
    width: 167px;
    color: aliceblue;
}
.Rectangle8{
    width: 258px;
    height: 43px;
}
.invitation{
    margin-top: -40px;
    margin-left: 36px;
    font-size: 18px;
}
.you-tube{
    width: 30px;
    height: 30px;
}
.Rectangle85{
    width: 141px;
    height: 41px;
}
.enter{
    margin-left: -176px;
    color: white;
}
.imail{
    width: 30px;
    height: 30px;
    margin-bottom: 3px;
}
.instagram{
    width: 30px;
    height: 30px;
    margin-bottom: 3px;
}
.applications{
    width: 0px;
}
.watch-trailer{
   margin-left: -188px;
   color: azure;
}
.gacke-text{
    color: white;
}
.footer-email1{
    display: flex;
}
.footer-email2{
    display: flex;
}
.vector8{
    height: 2px;
    margin-top: 25px;
}
.vector9{
    height: 2px;
    margin-top: 25px;
}
.footer-img{
    margin-right: 114px;
}
h2{
    margin-left: 586px;
    margin-bottom: -29px;
}