header{
    display: flex;
    background-image: url(/img/Rectangle104.png);
    justify-content: space-around;
    align-items: center;
    background-size: cover;
    padding: 39px 0;
}
a{
    padding: 4px;
}
.AVATAR{
    margin-left: 250px;
}
.imails{
    display: flex;
    margin-right: 200px;
}
.lang-control{
    display: flex;
    margin-right: 100px;
}
.button{
    border: 1px solid white;
    border-radius: 10px;
    width: 40px;
    height: 22px;
    margin-top: 3px;
    }
    .baby-button{
     background-color: white;
     border: 1px solid white;
     border-radius: 20px;
     width: 20px;
     height: 20px;
     margin-left: 18px;
    }

.gacke{
    background-image:url(/img/Group481.png) ;
    display: flex;
    background-size: cover;
    justify-content: space-evenly;
    align-items: center;
    padding: 180px 0;
}
.warm-with-sky-people{
    text-align: center;
}
.warm-bird{
  margin-right: 29px;
}
.trailer{
    background-image: url(/img/Rectangle101.png);
    height: 545px;
    justify-content: center;
    display: flex;
    align-items: center;
    padding: 98px;
    width: 1300px;
}
.our-energy{
    text-align: center;
}
.learning-navi-leng{
    background-image: url(/img/Rectangle20.png);
    background-size: cover;
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: 240px 240px;
    align-items: center;
    justify-content: center;
}
.our-mather{
    text-align: center;
}
footer{
    background-image: url(/img/Rectangle141.png);
    display: flex;
}
.AVATAR-2{
    height: 95px;
    margin-bottom: 4px;
    margin-left: 50px;
    margin-top: 4px;
    margin-right: 500px;
}
.line{
    margin-left: -469px;
}
.footer-contact{
    text-align: center;
}
.appeal{
    height: 241px;
    width: 245px;
    margin-top: -191px;
    margin-left: 87px;
}
.card{
    background-color: white;
    border: solid black 3px;
}
.text{
    width: 161px;
}
.welkome-to-us{
    width: 167px;
    color: aliceblue;
}
.Rectangle8{
    width: 301px;
}
.invitation{
    margin-top: -40px;
    margin-left: 8px;
}
.you-tube{
    width: 30px;
    height: 30px;
}
.Rectangle85{
    width: 141px;
    height: 41px;
}
.enter{
    margin-left: -176px;
    color: white;
}
.imail{
    width: 30px;
    height: 30px;
    margin-bottom: 3px;
}
.instagram{
    width: 30px;
    height: 30px;
    margin-bottom: 3px;
}
.applications{
    width: 0px;
}
.watch-trailer{
   margin-left: -188px;
   color: azure;
}