header{
    display: flex;
    background-image: url("/img/Rectangle104.png");
    height: 40px;
    justify-content: center;
    width: 1600px;
    padding-left: 0px;
}
a{
    padding: 4px;
}
img{
    margin-right: 300px;
    margin-top: 4px;
}
.AVATAR{
    margin-top: 4px;
    margin-right: 500px;
    margin-bottom: 4px;
    margin-left: 50px;
}
.imails{
    display: flex;
    margin-right: 200px;
}
.lang-control{
    display: flex;
    margin-right: 100px;
}
.button{
    border: 1px solid white;
    border-radius: 10px;
    width: 40px;
    height: 22px;
    margin-top: 3px;
    }
    .baby-button{
     background-color: white;
     border: 1px solid white;
     border-radius: 20px;
     width: 20px;
     height: 20px;
     margin-left: 18px;
    }

.gacke{
    background-image:url(/img/Group481.png) ;
    height: 545px;
    width: 1700px;
    margin-bottom: -176px;
    background-size: cover;

}
.warm-with-sky-people{
    text-align: center;
    margin-top: 181px;
}
.warm-bird{
  margin-right: 29px;
}
.trailer{
    background-image: url(/img/Group38.png);
    height: 545px;

}
.our-energy{
    text-align: center;
}
.learning-navi-leng{
    background-image: url(/img/Rectangle20.png);
    background-size: cover;
    display: grid;
    grid-template-columns: 320px 320px 320px;
    grid-template-rows: 240px 240px;
    align-items: center;
    justify-content: center;
}
.our-mather{
    text-align: center;
}
footer{
    background-image: url(/img/Rectangle141.png);
    display: flex;
}
.AVATAR-2{
    height: 95px;
    margin-bottom: 4px;
    margin-left: 50px;
    margin-top: 4px;
    margin-right: 500px;
}
.line{
    margin-left: -469px;
}
.footer-contact{
    text-align: center;
}
.appeal{
    height: 241px;
    width: 245px;
    margin-top: -191px;
    margin-left: 87px;
}
.card{
    background-color: white;
    border: solid black 3px;
}